@import '../../colors';
@import '../../fonts';

.question {
  background-color: $white-100;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  
  &.highlighted {
    background-color: #f4f0ff;
    border: 1px solid $purple;
    
    footer .user-info span {
      color: $black-400;
    }
  }

  &.answered {
    background-color: #dbdcdd;
  }

  p {
    color: $black-400;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: $gray-medium-600;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;

      &.like-button {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        display: flex;
        align-items: flex-end;
        color: $gray-medium-600;
        gap: 8px;

        transition: filter .3s;

        &.liked {
          color: $purple;

          svg path {
            stroke: $purple;
          }
        }

        &:hover {
          filter: brightness(.7);
        }
      }
    }
  }
}