$gray-200: #e2e2e2;
$gray-medium: #a8a8b3;
$gray-medium-600: #737380;
$purple: #835AFD;
$red: #EA4335;
$pink: #e559f9;

$black-400: #29292E;
$black-500: #050206;

$white: #fff;
$white-100: #fefefe;
$white-background: #f8f8f8;